@use "../custom"as *;
@use "../components/mixins"as *;

.menu {
    @include gradient;
}

ul {
    display: flex;
    align-items: center;

    li {
        padding: 0rem 0.7rem;
        // border-radius: 3.4rem;

        a {
            font-weight: 600;
        }

        &:hover {
            background-color: rgba($black, .2);

        }
    }
}